$bg-navbar:#222;
$bg-section:#276749;
$bg-itens:#f5e1d4;
$bg-footer:#1e1e1e;
$text-section:#F0FFF4;
$color:#fff;
$link-color:#FFA500;
$link-hover:#FFD700;
$font-stack:helvetica,sans-serif;
$shadow: 0 2px 9px rgba(0, 0, 0, 0.779);
$breakpoints: (
  "mobile": 430px,
  "tablet": 768px
)
;