$cores:(
    primaria: #0057D9,
    secundaria: #1A1A1A,
    destaque: #FFD100,
    fundo: #F9F9F9,
    texto-padrao: #333333,
    links: #ffffff
);
$radius: 15px;
$breakpoints: (
  medium: 700px,
  large: 997px,
);
$shadow: 0 2px 1px 3px #6464643b;